

/* Apply to the image element */
img {
    width: 100%;
    display: block; /* Ensure the image behaves as a block element */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
}

.container {
    max-width: 800px; /* Adjust the width as needed */
    margin: 0 auto;
    padding: 0 20px;
}

/* Center content above the footer horizontally */
.content-above-footer {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
a {
    color: pink;
}
.footer-content {
    text-align: left;
}
/* Footer */
footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  footer .divider {
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.201);
    margin: 1.5rem auto;
  }
  
  /* Footer > Branding */
  footer .branding {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .branding > svg {
    width: 10rem;
  }
  
  .branding .socials {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .socials img {
    width: 30px;
    margin-left: 1rem;
  }
  
  /* Footer > Links */
  .links {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .links .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    line-height: 1.7rem;
  }
  
  .links a {
    text-decoration: none;
    color: rgb(137, 135, 135);
    font-weight: lighter;
    font-size: 0.9rem;
  }
  
  .links a:hover {
    color: var(--primary-color);
  }
  
  .first-col p {
    color: rgb(137, 135, 135);
    font-weight: lighter;
    font-size: 0.9rem;
  }
  
  /* Footer > Countries */
  .countries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  
  .countries a {
    text-decoration: none;
    color: rgb(137, 135, 135);
    font-weight: lighter;
  }
  
  .countries .vertical-divider {
    width: 1px;
    background-color: rgb(137, 135, 135);
    margin: 0 1rem;
    height: 18px;
  }